<a href="http://www.geosciences.ttu.edu/">Department of
	Geosciences</a>, Science 125 <br />
Texas Tech University, Lubbock, Texas 79409.<br />
<a href="http://github.com/thestarlab/" title="GitHub"><i class="fa fa-fw
		fa-github"></i></a> <a href="http://twitter.com/guofengcao/"
title="Twitter"><i class="fa fa-fw fa-twitter"></i></a> <a href="mailto:guofeng.cao@ttu.edu" title="Email (Guofeng)"><i class="fa fa-fw fa-envelope"></i></a> <a href="https://thestarlab.slack.com/messages/" title="Slack (private)"><i class="fa fa-fw fa-slack"></i></a>
<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=6656709; var sc_invisible=1; var sc_security="57570c96"; </script>
<script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript>
<div class="statcounter"><a title="free analytics for godaddy" href="http://statcounter.com/godaddy_website_tonight/" target="_blank"><img class="statcounter"
 src="http://c.statcounter.com/6656709/0/57570c96/1/"
 alt="free analytics for godaddy"></a></div>
</noscript><!-- End of StatCounter Code -->
</body></html>
