201A Guggenheim, <a href="https://www.colorado.edu/geography/">Department of
	Geography</a> <br />
<a href="https://www.colorado.edu/geography/">
	University of Colorado </a>, Boulder, CO 80309. <br />
303.492.8528 (phone), 303.492.7501 (fax) <br />
<a href="http://github.com/thestarlab/" title="GitHub"><i class="fa fa-fw
		fa-github"></i></a> <a href="http://twitter.com/guofengcao/"
title="Twitter"><i class="fa fa-fw fa-twitter"></i></a> <a
		   href="mailto:guofeng.cao@colorado.edu" title="Email (Guofeng)"><i class="fa fa-fw fa-envelope"></i></a> <a href="https://thestarlab.slack.com/messages/" title="Slack (private)"><i class="fa fa-fw fa-slack"></i></a> 
