<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ page.description | default: site.subtitle | escape }}" />
<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

<link rel="preconnect" href="https://maxcdn.bootstrapcdn.com" />
<link rel="preconnect" href="https://cdnjs.cloudflare.com" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

<!-- LESS stylesheet -->
<link rel="stylesheet/less" type="text/css" href="{{ '/styles/main.less' | relative_url }}?v={{ site.time | date: '%s' }}" />
<script>
window.less = { env: "development", useFileCache: false };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.2.0/less.min.js"></script>

<!-- favicon -->
<link rel="shortcut icon" href="{{ '/resources/favicon.ico' | relative_url }}" type="image/x-icon" />
<link rel="icon" href="{{ '/resources/favicon.ico' | relative_url }}" type="image/x-icon" />

<!-- <script>
var images = ['1.jpg','2.jpg','3.jpg','4.jpg','5.jpg','6.jpg', '7.jpg', '8.jpg'];
$('html').css({'background-image': 'url(/resources/bg/' + images[Math.floor(Math.random() *      images.length)] + ')'});
</script> -->
<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=6656709; var sc_invisible=1; var sc_security="57570c96"; </script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js"></script><noscript>
<div class="statcounter"><a title="free analytics for godaddy" href="https://statcounter.com/godaddy_website_tonight/" target="_blank" rel="noopener noreferrer"><img class="statcounter"
 src="https://c.statcounter.com/6656709/0/57570c96/1/"
 alt="free analytics for godaddy"></a></div>
</noscript><!-- End of StatCounter Code -->
