<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href=""><span> <strong>STAR</strong>lab</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/research/" class="pure-menu-link">research</a></li>

            <li class="pure-menu-item"><a href="/people/" class="pure-menu-link">people</a></li>

            <li class="pure-menu-item"><a href="/papers/"
		    class="pure-menu-link">papers</a></li>
	    
            <li class="pure-menu-item"><a href="/software/"
		    class="pure-menu-link">software</a></li>

            <li class="pure-menu-item"><a href="/opportunities/"
		    class="pure-menu-link">opportunities</a></li>

        </ul>
    </div>
</div>


<!--
<ul class="left">
  <img src="/resources/logo.png" alt="" aligh="top" /> 
  <li><a href="/"> <span> <strong>STAR</strong>lab </span></a>
  </li>
</ul>
<ul class="right">
   <li {%if page.title == 'Research' %}class="active"{% endif %}><a href="/research/">research</a></li>
   <li {%if page.title == 'People' %}class="active"{% endif %}><a href="/people/">people</a></li>
   <li {%if page.title == 'Papers' %}class="active"{% endif %}><a href="/papers/">papers</a></li>
   <li {%if page.title == 'Software' %}class="active"{% endif %}><a href="/software/">software</a></li>
   <li {%if page.title == 'Opportunities' %}class="active"{% endif %}><a href="/opportunities/">opportunities</a></li>
</ul>
-->
