<!doctype html>
<html class="no-js" lang="en">
   <head>
      {% include header.html %}
   </head>
   <body>

      <div class="top-bar pure-menu pure-menu-open pure-menu-horizontal">
         {% include nav.html %}
      </div>

      <div class="wrapper" id="main">

         <div class="l-content">
            <div class="pure-g">
               {{ content }}
            </div>
         </div>

        <div class="push"></div>

      </div>

    <div class="site-footer">
      {% include footer.html %}
    </div>

   </body>
</html>
